/*
Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  /* display: none; */
}

.err-msg-container {
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}

.err-msg {
  font-size: 1.6rem;
  /* width: 50%; */
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #ed3560;
  color: #fff;
}

.get-details {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 40vh;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.country-details-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.label-country-name {
  font-size: 2rem;
}

#country-name {
  font-size: 1.8rem;
  font-family: inherit;
  padding: 1.2rem;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#country-name::placeholder {
  color: #ccc;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem 4rem;
  border: none;
  background: none;
  border-radius: 9px;
  color: #fff;
  cursor: pointer;
}

.btn-country-details {
  background: linear-gradient(to top left, #694f8e, #442372);
}

.btn-where {
  background: linear-gradient(to bottom right, #41000f, #d80032);
}

.countries {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3rem;

  font-size: 2rem;
  /* opacity: 0; */
  transition: opacity 1s;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 32rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}

.country__img {
  width: 32rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.hidden {
  display: none;
}

.neighbour::before {
  content: "Neighbour country";
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.where-msg-container {
  text-align: center;
}

.where-msg {
  font-size: 6.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
